
html
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
  body
    nav
      .brand-logo  NoSQL is a Lie
      ul.right.hide-on-med-and-down
        li
          a(href="/key-value") Key-Value
        li
          a(href="/document") Document
        li
          a(href="/column") Column
        li
          a(href="/graph") Graph
      ul#slide-out.side-nav
        li
          a(href="/key-value") Key-Value
        li
          a(href="/document") Document
        li
          a(href="/column") Column
        li
          a(href="/graph") Graph
      a.button-collapse(href="#" data-activates="slide-out")
        i.mdi-navigation-menu
    .container
      .row
        .col.s12
          h1= title
      .row
        .col.s12
          form#check(data-database=database)
            label Guess a DB
              input#database(type="text", name="database", placeholder="Database Name")
            input(type="submit")
      .row
        .col.s12
          ul#result
    script(src="//code.jquery.com/jquery-2.2.3.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    script(src="//js.pusher.com/3.0/pusher.min.js")
    script(src="/app.js")

